# 1. Write a program for all arithmetic operations using eval function.

In [2]:
# Taking two numbers as input using eval
num1=eval(input("enter number 1: "))
num2=eval(input("enetr number 2:"))
# 
add=num1+num2
print(f"The addition of {num1} and {num2} is :{add}")
sub=num1-num2
print(f"The subtraction of {num1} and {num2} is :{sub}")
mul=num1*num2
print(f"The multiplication of {num1} and {num2} is :{mul}")
div=num1/num2
print(f"The division of {num1} and {num2} is :{div}")

enter number 1:  10
enetr number 2: 20

The addition of 10 and 20 is :30
The subtraction of 10 and 20 is :-10
The multiplication of 10 and 20 is :200
The division of 10 and 20 is :0.5

# 2. Generate random numbers from 1 to 100 with a step of 10.

In [29]:
import random
random_number=random.randint(1, 100)
step_of=random_number*10
print("The random number is: ", random_number)
print("Random number from 1 to 100 with a step of 10:", step_of)

The random number is:  24
Random number from 1 to 100 with a step of 10: 240

# 3. Explain slicing and indexing with examples

# 4. How to round to two decimal places for a floating value

In [32]:
import math
floating_value=math.pi
print("Original value:",floating_value)
rounded_value=round(floating_value,2)
print("Rounded value to two decimal places:", rounded_value)

Original value: 3.141592653589793
Rounded value to two decimal places: 3.14

# 5. Explain type casting with fundamental datatypes with example.

In [43]:
# converting one data type to another data type is called type casting
# Integer to other data types

# 1 Integer to float
num=10   # 10 is int value
float_num=float(num)  # 10 is converted to float value 10.0
print(float_num)

10.0

In [49]:
# 2 Integer to String
num=10
str_num=str(num)
str_num

'10'

In [46]:
# 3 Integer to Boolean
num=10
bool(num)

True

In [50]:
num=0
bool(num)

False

In [59]:
# 4 String to Integer
str_num="10"
int_num=int(str_num) # converting "10" string value to 10 integer value
int_num

10

In [61]:
# 5 String to Float
str_num="10.10"
float_num=float(str_num)  # converting "10.10" string value to 10.1 float value
float_num

10.1

In [62]:
# 6 String to Boolean
str_name="shaheer"
bool_name=bool(str_name)
bool_name

True

In [63]:
str_name=""
bool_name=bool(str_name)
bool_name

False

In [66]:
# 7 float to Integer
float_num=3.14
int_num=int(float_num)
int_num

3

In [68]:
# 8 float to String
float_num=3.14
str_num=str(float_num)
str_num

'3.14'

In [69]:
# 9 float to boolean
float_num=3.14
bool_num=bool(float_num)
bool_num

True

In [70]:
float_num=0.0
bool_num=bool(float_num)
bool_num

False